In [1]:
import pandas as pd

In [2]:
import numpy as np

In [18]:
df = pd.read_csv(r"C:\Users\kiran\Downloads\data_clean.csv", index_col = 0)

In [19]:
df

     Ozone  Solar.R  Wind Month  Day  Year  Temp Weather
1     41.0    190.0   7.4     5    1  2010    67       S
2     36.0    118.0   8.0     5    2  2010    72       C
3     12.0    149.0  12.6     5    3  2010    74      PS
4     18.0    313.0  11.5     5    4  2010    62       S
5      NaN      NaN  14.3     5    5  2010    56       S
..     ...      ...   ...   ...  ...   ...   ...     ...
154   41.0    190.0   7.4     5    1  2010    67       C
155   30.0    193.0   6.9     9   26  2010    70      PS
156    NaN    145.0  13.2     9   27  2010    77       S
157   14.0    191.0  14.3     9   28  2010    75       S
158   18.0    131.0   8.0     9   29  2010    76       C

[158 rows x 8 columns]

In [20]:
df.describe()

            Ozone     Solar.R        Wind         Day    Year        Temp
count  120.000000  151.000000  158.000000  158.000000   158.0  158.000000
mean    41.583333  185.403974    9.957595   16.006329  2010.0   77.727848
std     32.620709   88.723103    3.511261    8.997166     0.0    9.377877
min      1.000000    7.000000    1.700000    1.000000  2010.0   56.000000
25%     18.000000  119.000000    7.400000    8.000000  2010.0   72.000000
50%     30.500000  197.000000    9.700000   16.000000  2010.0   78.500000
75%     61.500000  257.000000   11.875000   24.000000  2010.0   84.000000
max    168.000000  334.000000   20.700000   31.000000  2010.0   97.000000

In [21]:
df.head()

   Ozone  Solar.R  Wind Month  Day  Year  Temp Weather
1   41.0    190.0   7.4     5    1  2010    67       S
2   36.0    118.0   8.0     5    2  2010    72       C
3   12.0    149.0  12.6     5    3  2010    74      PS
4   18.0    313.0  11.5     5    4  2010    62       S
5    NaN      NaN  14.3     5    5  2010    56       S

In [22]:
df.dtypes

Ozone      float64
Solar.R    float64
Wind       float64
Month       object
Day          int64
Year         int64
Temp         int64
Weather     object
dtype: object

In [23]:
df['Month']

1      5
2      5
3      5
4      5
5      5
      ..
154    5
155    9
156    9
157    9
158    9
Name: Month, Length: 158, dtype: object

In [24]:
df['Month'].unique()

array(['5', 'May', '6', '7', '8', '9'], dtype=object)

In [27]:
df['Month'].replace('May', 5, inplace = True)

In [28]:
df['Month'].unique()

array(['5', 5, '6', '7', '8', '9'], dtype=object)

In [29]:
df.dtypes

Ozone      float64
Solar.R    float64
Wind       float64
Month       object
Day          int64
Year         int64
Temp         int64
Weather     object
dtype: object

In [30]:
df['Month'].astype(int)

1      5
2      5
3      5
4      5
5      5
      ..
154    5
155    9
156    9
157    9
158    9
Name: Month, Length: 158, dtype: int32

In [31]:
df.dtypes

Ozone      float64
Solar.R    float64
Wind       float64
Month       object
Day          int64
Year         int64
Temp         int64
Weather     object
dtype: object

In [32]:
df['Month'] = df['Month'].astype(int)

In [33]:
df.dtypes

Ozone      float64
Solar.R    float64
Wind       float64
Month        int32
Day          int64
Year         int64
Temp         int64
Weather     object
dtype: object